node_modules/
.next/
.turbo/
dist/
build/
.env
.env.local
*.local
.DS_Store
.idea/
.vscode/
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/ios/
apps/mobile/android/
apps/mobile/macos/
apps/mobile/linux/
apps/mobile/windows/
apps/mobile/web/
supabase/.branches/
supabase/.temp/
*.iml
